@supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))){*, ::before, ::after, ::backdrop{--eco-bg-opacity:100%;--eco-text-opacity:100%;}}@property --eco-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}@property --eco-bg-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}:root, :host {
--font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--colors-gray-800: oklch(27.8% 0.033 256.848);
--fontWeight-bold: 700;
--spacing: 0.25rem;
--radius-DEFAULT: 0rem;
--colors-blue-500: oklch(62.3% 0.214 259.815);
--colors-white: #fff;
--text-2xl-fontSize: 1.5rem;
--text-2xl-lineHeight: 2rem;
--colors-blue-600: oklch(54.6% 0.245 262.881);
--fontWeight-medium: 500;
--colors-background: oklch(0.98 0 0);
--text-sm-fontSize: 0.875rem;
--text-sm-lineHeight: 1.25rem;
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--default-font-family: var(--font-sans);
--default-monoFont-family: var(--font-mono);
}/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove default margins and padding
  3. Reset all borders.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 2 */
  border: 0 solid; /* 3 */
}

/*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  6. Use the user's configured `sans` font-variation-settings by default.
  7. Disable tap highlights on iOS.
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  tab-size: 4; /* 3 */
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  ); /* 4 */
  font-feature-settings: var(--default-font-featureSettings, normal); /* 5 */
  font-variation-settings: var(--default-font-variationSettings, normal); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Reset the default border style to a 1px solid border.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
  Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
  Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
  Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/*
  Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
  1. Use the user's configured `mono` font-family by default.
  2. Use the user's configured `mono` font-feature-settings by default.
  3. Use the user's configured `mono` font-variation-settings by default.
  4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: var(
    --default-monoFont-family,
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace
  ); /* 1 */
  font-feature-settings: var(--default-monoFont-featureSettings, normal); /* 2 */
  font-variation-settings: var(--default-monoFont-variationSettings, normal); /* 3 */
  font-size: 1em; /* 4 */
}

/*
  Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
  Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
  Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
  Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
  Make lists unstyled by default.
*/

ol,
ul,
menu {
  list-style: none;
}

/*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  border-radius: 0; /* 2 */
  background-color: transparent; /* 3 */
  opacity: 1; /* 4 */
}

/*
  Restore default font weight.
*/

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/*
  Restore indentation.
*/

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/*
  Restore space after button.
*/

::file-selector-button {
  margin-inline-end: 4px;
}

/*
  Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/

::placeholder {
  opacity: 1;
}

/*
  Set the default placeholder color to a semi-transparent version of the current text color in browsers that do not
  crash when using `color-mix(…)` with `currentcolor`. (https://github.com/tailwindlabs/tailwindcss/issues/17194)
*/

@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
  (contain-intrinsic-size: 1px) /* Safari 17+ */ {
  ::placeholder {
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }
}

/*
  Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
  Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  1. Ensure date/time inputs have the same height when empty in iOS Safari.
  2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
*/

::-webkit-date-and-time-value {
  min-height: 1lh; /* 1 */
  text-align: inherit; /* 2 */
}

/*
  Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
*/

::-webkit-datetime-edit {
  display: inline-flex;
}

/*
  Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
*/

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/*
  Center dropdown marker shown on inputs with paired `<datalist>`s in Chrome. (https://github.com/tailwindlabs/tailwindcss/issues/18499)
*/

::-webkit-calendar-picker-indicator {
  line-height: 1;
}

/*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/

button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

/*
  Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
        :root {
          --font-sans: 'Google Sans Text', 'Roboto Flex', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        }
      :is(.prose){color:var(--eco-prose-body);max-width:65ch;:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:1.25em;margin-bottom:1.25em;}:where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-lead);font-size:1.25em;line-height:1.6;margin-top:1.2em;margin-bottom:1.2em;}:where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-links);text-decoration:underline;font-weight:500;}:where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-bold);font-weight:600;}:where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:decimal;margin-top:1.25em;margin-bottom:1.25em;padding-inline-start:1.625em;}:where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:upper-alpha;}:where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:lower-alpha;}:where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:upper-alpha;}:where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:lower-alpha;}:where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:upper-roman;}:where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:lower-roman;}:where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:upper-roman;}:where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:lower-roman;}:where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:decimal;}:where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {list-style-type:disc;margin-top:1.25em;margin-bottom:1.25em;padding-inline-start:1.625em;}:where(ol > li::marker):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:400;color:var(--eco-prose-counters);}:where(ul > li::marker):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-bullets);}:where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:600;margin-top:1.25em;}:where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {border-color:var(--eco-prose-hr);border-top-width:1px;margin-top:3em;margin-bottom:3em;}:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:500;font-style:italic;color:var(--eco-prose-quotes);border-inline-start-width:0.25rem;border-inline-start-color:var(--eco-prose-quote-borders);quotes:"\201C""\201D""\2018""\2019";margin-top:1.6em;margin-bottom:1.6em;padding-inline-start:1em;}:where(blockquote p:first-of-type::before):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:open-quote;}:where(blockquote p:last-of-type::after):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:close-quote;}:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:800;font-size:2.25em;margin-top:0;margin-bottom:0.8888889em;line-height:1.1111111;}:where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:900;color:inherit;}:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:700;font-size:1.5em;margin-top:2em;margin-bottom:1em;line-height:1.3333333;}:where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:800;color:inherit;}:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:600;font-size:1.25em;margin-top:1.6em;margin-bottom:0.6em;line-height:1.6;}:where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:700;color:inherit;}:where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:600;margin-top:1.5em;margin-bottom:0.5em;line-height:1.5;}:where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:700;color:inherit;}:where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:2em;margin-bottom:2em;}:where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {display:block;margin-top:2em;margin-bottom:2em;}:where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:2em;margin-bottom:2em;}:where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {font-weight:500;font-family:inherit;color:var(--eco-prose-kbd);box-shadow:0 0 0 1px rgb(var(--eco-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--eco-prose-kbd-shadows) / 10%);font-size:0.875em;border-radius:0.3125rem;padding-top:0.1875em;padding-inline-end:0.375em;padding-bottom:0.1875em;padding-inline-start:0.375em;}:where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-code);font-weight:600;font-size:0.875em;}:where(code::before):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:"`";}:where(code::after):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:"`";}:where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;font-size:0.875em;}:where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;font-size:0.9em;}:where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:inherit;}:where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-pre-code);background-color:var(--eco-prose-pre-bg);overflow-x:auto;font-weight:400;font-size:0.875em;line-height:1.7142857;margin-top:1.7142857em;margin-bottom:1.7142857em;border-radius:0.375rem;padding-top:0.8571429em;padding-inline-end:1.1428571em;padding-bottom:0.8571429em;padding-inline-start:1.1428571em;}:where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {background-color:transparent;border-width:0;border-radius:0;padding:0;font-weight:inherit;color:inherit;font-size:inherit;font-family:inherit;line-height:inherit;}:where(pre code::before):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:none;}:where(pre code::after):not(:where([class~="not-prose"],[class~="not-prose"] *)) {content:none;}:where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {width:100%;table-layout:auto;margin-top:2em;margin-bottom:2em;font-size:0.875em;line-height:1.7142857;}:where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)) {border-bottom-width:1px;border-bottom-color:var(--eco-prose-th-borders);}:where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-headings);font-weight:600;vertical-align:bottom;padding-inline-end:0.5714286em;padding-bottom:0.5714286em;padding-inline-start:0.5714286em;}:where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {border-bottom-width:1px;border-bottom-color:var(--eco-prose-td-borders);}:where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {border-bottom-width:0;}:where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {vertical-align:baseline;}:where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)) {border-top-width:1px;border-top-color:var(--eco-prose-th-borders);}:where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {vertical-align:top;}:where(th, td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {text-align:start;}:where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;margin-bottom:0;}:where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)) {color:var(--eco-prose-captions);font-size:0.875em;line-height:1.4285714;margin-top:0.8571429em;}font-size:1rem;line-height:1.75;:where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;margin-bottom:0;}:where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0.5em;margin-bottom:0.5em;}:where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-start:0.375em;}:where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-start:0.375em;}:where(> ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0.75em;margin-bottom:0.75em;}:where(> ul > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:1.25em;}:where(> ul > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-bottom:1.25em;}:where(> ol > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:1.25em;}:where(> ol > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-bottom:1.25em;}:where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0.75em;margin-bottom:0.75em;}:where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:1.25em;margin-bottom:1.25em;}:where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0.5em;padding-inline-start:1.625em;}:where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;}:where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;}:where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;}:where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;}:where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-start:0;}:where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-end:0;}:where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-top:0.5714286em;padding-inline-end:0.5714286em;padding-bottom:0.5714286em;padding-inline-start:0.5714286em;}:where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-start:0;}:where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {padding-inline-end:0;}:where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:2em;margin-bottom:2em;}:where(> :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-top:0;}:where(> :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {margin-bottom:0;}eco-body:oklch(37.3% 0.034 259.733);eco-invert-body:oklch(87.2% 0.01 258.338);eco-headings:oklch(21% 0.034 264.665);eco-invert-headings:white;eco-lead:oklch(44.6% 0.03 256.802);eco-invert-lead:oklch(70.7% 0.022 261.325);eco-links:oklch(21% 0.034 264.665);eco-invert-links:white;eco-bold:oklch(21% 0.034 264.665);eco-invert-bold:white;eco-counters:oklch(55.1% 0.027 264.364);eco-invert-counters:oklch(70.7% 0.022 261.325);eco-bullets:oklch(87.2% 0.01 258.338);eco-invert-bullets:oklch(44.6% 0.03 256.802);eco-hr:oklch(92.8% 0.006 264.531);eco-invert-hr:oklch(37.3% 0.034 259.733);eco-quotes:oklch(21% 0.034 264.665);eco-invert-quotes:oklch(96.7% 0.003 264.542);eco-quote-borders:oklch(92.8% 0.006 264.531);eco-invert-quote-borders:oklch(37.3% 0.034 259.733);eco-captions:oklch(55.1% 0.027 264.364);eco-invert-captions:oklch(70.7% 0.022 261.325);eco-kbd:oklch(21% 0.034 264.665);eco-invert-kbd:white;eco-kbd-shadows:oklch(21% 0.034 264.665);eco-invert-kbd-shadows:white;eco-code:oklch(21% 0.034 264.665);eco-invert-code:white;eco-pre-code:oklch(92.8% 0.006 264.531);eco-invert-pre-code:oklch(87.2% 0.01 258.338);eco-pre-bg:oklch(27.8% 0.033 256.848);eco-invert-pre-bg:rgb(0 0 0 / 50%);eco-th-borders:oklch(87.2% 0.01 258.338);eco-invert-th-borders:oklch(44.6% 0.03 256.802);eco-td-borders:oklch(92.8% 0.006 264.531);eco-invert-td-borders:oklch(37.3% 0.034 259.733);}.text-2xl{font-size:var(--text-2xl-fontSize);line-height:var(--eco-leading, var(--text-2xl-lineHeight));}.text-sm{font-size:var(--text-sm-fontSize);line-height:var(--eco-leading, var(--text-sm-lineHeight));}.text-gray-800{color:color-mix(in srgb, var(--colors-gray-800) var(--eco-text-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}.text-white{color:color-mix(in srgb, var(--colors-white) var(--eco-text-opacity), transparent) /* #fff */;}.font-bold{--eco-font-weight:var(--fontWeight-bold);font-weight:var(--fontWeight-bold);}.font-medium{--eco-font-weight:var(--fontWeight-medium);font-weight:var(--fontWeight-medium);}.font-sans{font-family:var(--font-sans);}.mx-auto{margin-inline:auto;}.mb-4{margin-bottom:calc(var(--spacing) * 4);}.px-4{padding-inline:calc(var(--spacing) * 4);}.py-2{padding-block:calc(var(--spacing) * 2);}.py-8{padding-block:calc(var(--spacing) * 8);}.border-b{border-bottom-width:1px;}.rounded{border-radius:var(--radius-DEFAULT);}.bg-\[\#f9fafd\]{background-color:color-mix(in oklab, #f9fafd var(--eco-bg-opacity), transparent) /* #f9fafd */;}.bg-background{background-color:color-mix(in srgb, var(--colors-background) var(--eco-bg-opacity), transparent) /* oklch(0.98 0 0) */;}.bg-blue-500{background-color:color-mix(in srgb, var(--colors-blue-500) var(--eco-bg-opacity), transparent) /* oklch(62.3% 0.214 259.815) */;}.hover\:bg-blue-600:hover{background-color:color-mix(in srgb, var(--colors-blue-600) var(--eco-bg-opacity), transparent) /* oklch(54.6% 0.245 262.881) */;}.aria-\[current\]\:opacity-75[aria-current]{opacity:75%;}.hover\:opacity-75:hover{opacity:75%;}.flex{display:flex;}.flex-col{flex-direction:column;}.gap-4{gap:calc(var(--spacing) * 4);}.h-16{height:calc(var(--spacing) * 16);}.h-full{height:100%;}.min-h-screen{min-height:100vh;}.max-w-screen-xl{max-width:80rem;}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.items-center{align-items:center;}.inset-x-0{inset-inline:calc(var(--spacing) * 0);}.top-0{top:calc(var(--spacing) * 0);}.justify-between{justify-content:space-between;}.relative{position:relative;}.sticky{position:sticky;}.z-50{z-index:50;}.min-h-svh{min-height:100svh;}@supports (color: color-mix(in lab, red, red)){.text-gray-800{color:color-mix(in oklab, var(--colors-gray-800) var(--eco-text-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}.text-white{color:color-mix(in oklab, var(--colors-white) var(--eco-text-opacity), transparent) /* #fff */;}.bg-background{background-color:color-mix(in oklab, var(--colors-background) var(--eco-bg-opacity), transparent) /* oklch(0.98 0 0) */;}.bg-blue-500{background-color:color-mix(in oklab, var(--colors-blue-500) var(--eco-bg-opacity), transparent) /* oklch(62.3% 0.214 259.815) */;}.hover\:bg-blue-600:hover{background-color:color-mix(in oklab, var(--colors-blue-600) var(--eco-bg-opacity), transparent) /* oklch(54.6% 0.245 262.881) */;}}@media (min-width: 40rem){.sm\:gap-8{gap:calc(var(--spacing) * 8);}}@media (min-width: 64rem){.lg\:py-12{padding-block:calc(var(--spacing) * 12);}}